In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os.path as osp

This notebook is used to clean up and prepare the datasets used in
[ATTENTION-BASED LEARNING FOR MISSING DATA IMPUTATION IN HOLOCLEAN](https://proceedings.mlsys.org/paper/2020/file/202cb962ac59075b964b07152d234b70-Paper.pdf)
to use them for our imputation experiments.

The datasets have a number of of different formats and each of them will require different cleanup procedures.

I'll gather all datasets here for clarity.

In [4]:
# Some paths
data_dir = 'data/new_datasets'

In [11]:
def get_df(dataset_name, data_dir, null_value=None):
    this_dir = osp.join(data_dir, dataset_name)
    df = pd.read_csv(osp.join(this_dir, f'{dataset_name}.csv'), sep=' ')
    if null_value is not None:
        df = df.replace(null_value, np.nan)
    df.describe(include='all')
    return df

def get_clean_df(df):
    print('Location of nulls')
    print(df.isna().sum())
    df_nonulls = df.dropna()
    print(f'Shape of full dataset: {df.shape}')
    print(f'Shape of cleaned dataset: {df_nonulls.shape}')
    return df_nonulls

# Australian
https://archive.ics.uci.edu/ml/datasets/statlog+(australian+credit+approval)

In [40]:
dataset_name = 'australian'
this_dir = osp.join(data_dir, dataset_name)
columns = [f'A{_}' for _ in range(1,16)]
df = pd.read_csv(osp.join(this_dir, f'{dataset_name}.dat'), names=columns, sep=' ')

df.describe(include='all')

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15
count,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.000000,690.00000,690.000000,690.000000,690.000000,690.000000,690.000000
mean,0.678261,31.568203,4.758725,1.766667,7.372464,4.692754,2.223406,0.523188,0.427536,2.40000,0.457971,1.928986,184.014493,1018.385507,0.444928
std,0.467482,11.853273,4.978163,0.430063,3.683265,1.992316,3.346513,0.499824,0.495080,4.86294,0.498592,0.298813,172.159274,5210.102598,0.497318
min,0.000000,13.750000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.00000,0.000000,1.000000,0.000000,1.000000,0.000000
25%,0.000000,22.670000,1.000000,2.000000,4.000000,4.000000,0.165000,0.000000,0.000000,0.00000,0.000000,2.000000,80.000000,1.000000,0.000000
50%,1.000000,28.625000,2.750000,2.000000,8.000000,4.000000,1.000000,1.000000,0.000000,0.00000,0.000000,2.000000,160.000000,6.000000,0.000000
75%,1.000000,37.707500,7.207500,2.000000,10.000000,5.000000,2.625000,1.000000,1.000000,3.00000,1.000000,2.000000,272.000000,396.500000,1.000000
max,1.000000,80.250000,28.000000,3.000000,14.000000,9.000000,28.500000,1.000000,1.000000,67.00000,1.000000,3.000000,2000.000000,100001.000000,1.000000

In [41]:
mappings = {
    'A1': {0: 'a', 1: 'b'},
    'A4': {1: 'p', 2: 'g', 3: 'gg'},
    'A5': {i+1 : k for i, k in enumerate('ff,d,i,k,j,aa,m,c,w,e,q,r,cc,x'.split(','))},
    'A6': {i+1 : k for i, k in enumerate('ff,dd,j,bb,v,n,o,h,z'.split(','))},
    'A8': {0: 'f', 1: 't'},
    'A9': {0: 'f', 1: 't'},
    'A11': {0: 'f', 1: 't'},
    'A12': {1: 's', 2: 'g', 3: 'p'},
    'A15': {1: '+', 0: '-'}
}

for col in df.columns:
    if col in mappings:
        df[col] = df[col].replace(mappings[col])

In [42]:
df.to_csv(osp.join(this_dir, f'{dataset_name}_clean.csv'), index=False)

# Contraceptive
https://archive.ics.uci.edu/ml/datasets/Contraceptive+Method+Choice

In [44]:
dataset_name = 'contraceptive'
this_dir = osp.join(data_dir, dataset_name)
columns = [f'A{_}' for _ in range(1,11)]
df = pd.read_csv(osp.join(this_dir, f'cmc.data'), names=columns, sep=',')
df.describe(include='all')

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10
count,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000,1473.000000
mean,32.538357,2.958588,3.429735,3.261371,0.850645,0.749491,2.137814,3.133741,0.073999,1.919891
std,8.227245,1.014994,0.816349,2.358549,0.356559,0.433453,0.864857,0.976161,0.261858,0.876376
min,16.000000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000
25%,26.000000,2.000000,3.000000,1.000000,1.000000,0.000000,1.000000,3.000000,0.000000,1.000000
50%,32.000000,3.000000,4.000000,3.000000,1.000000,1.000000,2.000000,3.000000,0.000000,2.000000
75%,39.000000,4.000000,4.000000,4.000000,1.000000,1.000000,3.000000,4.000000,0.000000,3.000000
max,49.000000,4.000000,4.000000,16.000000,1.000000,1.000000,4.000000,4.000000,1.000000,3.000000

In [47]:
mappings = {
    'A2': {enum+1:v for enum, v in enumerate(['low', 'lm', 'hm', 'high'])},
    'A3': {enum+1:v for enum, v in enumerate(['low', 'lm', 'hm', 'high'])},
    'A5': {enum:v for enum, v in enumerate(['non-islam', 'islam'])},
    'A6': {enum:v for enum, v in enumerate(['yes', 'no'])},
    'A7': {enum+1:v for enum, v in enumerate(['o1', 'o2' ,'o3', 'o4'])},
    'A8': {enum+1:v for enum, v in enumerate(['low', 'lm', 'hm', 'high'])},
    'A9': {enum:v for enum, v in enumerate(['good', 'not-good'])},
    'A10': {enum+1:v for enum, v in enumerate(['no-use', 'long-term', 'short-term'])},
}
for col in df.columns:
    if col in mappings:
        df[col] = df[col].replace(mappings[col])

df.to_csv(osp.join(this_dir, f'{dataset_name}_clean.csv'), index=False)

# Credit
https://archive.ics.uci.edu/ml/datasets/credit+approval

In [70]:
dataset_name = 'credit'
this_dir = osp.join(data_dir, dataset_name)
columns = [f'A{_}' for _ in range(1,17)]
df = pd.read_csv(osp.join(this_dir, f'crx.data'), names=columns, sep=',')
df = df.replace('?', np.nan)
df.describe(include='all')

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13,A14,A15,A16
count,678,678,690.000000,684,684,681,681,690.000000,690,690,690.00000,690,690,677,690.000000,690
unique,2,349,NaN,3,3,14,9,NaN,2,2,NaN,2,3,170,NaN,2
top,b,22.67,NaN,u,g,c,v,NaN,t,f,NaN,f,g,00000,NaN,-
freq,468,9,NaN,519,519,137,399,NaN,361,395,NaN,374,625,132,NaN,383
mean,NaN,NaN,4.758725,NaN,NaN,NaN,NaN,2.223406,NaN,NaN,2.40000,NaN,NaN,NaN,1017.385507,NaN
std,NaN,NaN,4.978163,NaN,NaN,NaN,NaN,3.346513,NaN,NaN,4.86294,NaN,NaN,NaN,5210.102598,NaN
min,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,0.00000,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,0.165000,NaN,NaN,0.00000,NaN,NaN,NaN,0.000000,NaN
50%,NaN,NaN,2.750000,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,0.00000,NaN,NaN,NaN,5.000000,NaN
75%,NaN,NaN,7.207500,NaN,NaN,NaN,NaN,2.625000,NaN,NaN,3.00000,NaN,NaN,NaN,395.500000,NaN
max,NaN,NaN,28.000000,NaN,NaN,NaN,NaN,28.500000,NaN,NaN,67.00000,NaN,NaN,NaN,100000.000000,NaN

In [71]:
print('Location of nulls')
print(df.isna().sum())
df_nonulls = df.dropna()
print(f'Shape of full dataset: {df.shape}')
print(f'Shape of cleaned dataset: {df_nonulls.shape}')

Location of nulls
A1     12
A2     12
A3      0
A4      6
A5      6
A6      9
A7      9
A8      0
A9      0
A10     0
A11     0
A12     0
A13     0
A14    13
A15     0
A16     0
dtype: int64
Shape of full dataset: (690, 16)
Shape of cleaned dataset: (653, 16)

In [72]:
df.to_csv(osp.join(this_dir, f'{dataset_name}_clean.csv'), index=False)
df_nonulls.to_csv(osp.join(this_dir, f'{dataset_name}_nonulls.csv'), index=False)

# Flare
http://archive.ics.uci.edu/ml/datasets/solar+flare

There are two different .data files, I will be working on `flare.data2`.

In [82]:
dataset_name = 'flare'
this_dir = osp.join(data_dir, dataset_name)
columns = [f'A{_}' for _ in range(1,14)]
df = pd.read_csv(osp.join(this_dir, f'flare.data2'), names=columns, sep=' ')
df = df.replace('?', np.nan)
df.describe(include='all')

,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,A13
count,1066,1066,1066,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.000000,1066.0,1066.000000,1066.000000,1066.000000
unique,6,6,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,H,S,O,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,331,414,477,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,1.153846,2.401501,1.059099,1.404315,1.875235,1.025328,1.0,0.300188,0.046904,0.005629
std,NaN,NaN,NaN,0.360971,0.620584,0.320324,0.490989,0.330608,0.157194,0.0,0.835784,0.302811,0.086487
min,NaN,NaN,NaN,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,0.000000,0.000000,0.000000
25%,NaN,NaN,NaN,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.0,0.000000,0.000000,0.000000
50%,NaN,NaN,NaN,1.000000,2.000000,1.000000,1.000000,2.000000,1.000000,1.0,0.000000,0.000000,0.000000
75%,NaN,NaN,NaN,1.000000,3.000000,1.000000,2.000000,2.000000,1.000000,1.0,0.000000,0.000000,0.000000
max,NaN,NaN,NaN,2.000000,3.000000,3.000000,2.000000,2.000000,2.000000,1.0,8.000000,5.000000,2.000000

In [83]:
mappings = {
    'A4': {1: 'reduced', 2: 'unchanged'},
    'A5': {enum+1:v for enum, v in enumerate(['decay', 'no-growth', 'growth'])},
    'A6': {enum+1:v for enum, v in enumerate(['nothing-as-big', 'one', 'more-activity'])},
    'A7': {1: 'yes', 2: 'no'},
    'A8': {1: 'yes', 2: 'no'},
    'A9': {1: 'small', 2: 'large'},
    'A10': {1: '<=5', 2: '>5'},
}
for col in df.columns:
    if col in mappings:
        df[col] = df[col].replace(mappings[col])

In [84]:
df.to_csv(osp.join(this_dir, f'{dataset_name}_clean.csv'), index=False)

# Mammogram
http://archive.ics.uci.edu/ml/datasets/mammographic+mass

In [119]:
dataset_name = 'mammogram'
this_dir = osp.join(data_dir, dataset_name)
columns = [f'A{_}' for _ in range(1,7)]
df = pd.read_csv(osp.join(this_dir, f'mammographic_masses.data'), names=columns, sep=',', na_values='?')
# df = df.replace('?', np.nan)
df.describe(include='all')

               A1          A2          A3          A4          A5          A6
count  959.000000  956.000000  930.000000  913.000000  885.000000  961.000000
mean     4.348279   55.487448    2.721505    2.796276    2.910734    0.463059
std      1.783031   14.480131    1.242792    1.566546    0.380444    0.498893
min      0.000000   18.000000    1.000000    1.000000    1.000000    0.000000
25%      4.000000   45.000000    2.000000    1.000000    3.000000    0.000000
50%      4.000000   57.000000    3.000000    3.000000    3.000000    0.000000
75%      5.000000   66.000000    4.000000    4.000000    3.000000    1.000000
max     55.000000   96.000000    4.000000    5.000000    4.000000    1.000000

In [123]:
mappings = {
    'A1': dict(zip(range(1,6), [f'o{_}'for _ in range(1,6)])),
    'A3': {enum+1:v for enum, v in enumerate(['round', 'oval', 'lobular', 'irregular'])},
    'A4': {enum+1:v for enum, v in enumerate(['circumscribed', 'microlobulated', 'obscured', 'ill-defined', 'spiculated'])},
    'A5': {enum+1:v for enum, v in enumerate(['high', 'iso', 'low', 'fat-containing', 'spiculated'])},
    'A6': {0: 'benign', 1: 'malign'}
}
for col in df.columns:
    if col in mappings:
        print(col)
        df[col] = df[col].replace(mappings[col])

A1
A3
A4
A5
A6

In [124]:
print('Location of nulls')
print(df.isna().sum())
df_nonulls = df.dropna()
print(f'Shape of full dataset: {df.shape}')
print(f'Shape of cleaned dataset: {df_nonulls.shape}')

Location of nulls
A1     2
A2     5
A3    31
A4    48
A5    76
A6     0
dtype: int64
Shape of full dataset: (961, 6)
Shape of cleaned dataset: (830, 6)

In [127]:
df.to_csv(osp.join(this_dir, f'{dataset_name}_clean.csv'), index=False)
df_nonulls.convert_dtypes().to_csv(osp.join(this_dir, f'{dataset_name}_nonulls.csv'), index=False)

# Thoracic
https://archive.ics.uci.edu/ml/datasets/Thoracic+Surgery+Data

In [135]:
cols = '''@attribute DGN {DGN3,DGN2,DGN4,DGN6,DGN5,DGN8,DGN1}
          @attribute PRE4 numeric
          @attribute PRE5 numeric
          @attribute PRE6 {PRZ2,PRZ1,PRZ0}
          @attribute PRE7 {T,F}
          @attribute PRE8 {T,F}
          @attribute PRE9 {T,F}
          @attribute PRE10 {T,F}
          @attribute PRE11 {T,F}
          @attribute PRE14 {OC11,OC14,OC12,OC13}
          @attribute PRE17 {T,F}
          @attribute PRE19 {T,F}
          @attribute PRE25 {T,F}
          @attribute PRE30 {T,F}
          @attribute PRE32 {T,F}
          @attribute AGE numeric
          @attribute Risk1Yr {T,F}'''.replace('@attribute','').split('\n')
columns = [_.strip().split(' ')[0] for _ in cols]

dataset_name = 'thoracic'
this_dir = osp.join(data_dir, dataset_name)
df = pd.read_csv(osp.join(this_dir, f'ThoraricSurgery.data'), names=columns, sep=',', na_values='?')
# df = df.replace('?', np.nan)
df.describe(include='all')

,DGN,PRE4,PRE5,PRE6,PRE7,PRE8,PRE9,PRE10,PRE11,PRE14,PRE17,PRE19,PRE25,PRE30,PRE32,AGE,Risk1Yr
count,470,470.000000,470.000000,470,470,470,470,470,470,470,470,470,470,470,470,470.000000,470
unique,7,NaN,NaN,3,2,2,2,2,2,4,2,2,2,2,2,NaN,2
top,DGN3,NaN,NaN,PRZ1,F,F,F,T,F,OC12,F,F,F,T,F,NaN,F
freq,349,NaN,NaN,313,439,402,439,323,392,257,435,468,462,386,468,NaN,400
mean,NaN,3.281638,4.568702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.534043,NaN
std,NaN,0.871395,11.767857,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.706902,NaN
min,NaN,1.440000,0.960000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.000000,NaN
25%,NaN,2.600000,1.960000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,57.000000,NaN
50%,NaN,3.160000,2.400000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,62.000000,NaN
75%,NaN,3.807500,3.080000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,69.000000,NaN
max,NaN,6.300000,86.300000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.000000,NaN

In [136]:
df.to_csv(osp.join(this_dir, f'{dataset_name}_clean.csv'), index=False)

# Tic tac toe
https://archive.ics.uci.edu/ml/datasets/Tic-Tac-Toe+Endgame

In [138]:
dataset_name = 'tic-tac-toe'
this_dir = osp.join(data_dir, dataset_name)
columns = [f'A{_}' for _ in range(1,10)]
df = pd.read_csv(osp.join(this_dir, f'tic-tac-toe.data'), names=columns, sep=',', na_values='?')
# df = df.replace('?', np.nan)
df.describe(include='all')

         A1   A2   A3   A4   A5   A6   A7   A8        A9
count   958  958  958  958  958  958  958  958       958
unique    3    3    3    3    3    3    3    3         2
top       x    x    x    x    x    x    x    x  positive
freq    378  418  378  458  378  418  378  418       626

In [139]:
df.to_csv(osp.join(this_dir, f'{dataset_name}_clean.csv'), index=False)

# Magellan Datasets
These datasets are taken from [The Magellan Data Repository](https://sites.google.com/site/anhaidgroup/useful-stuff/the-magellan-data-repository?authuser=0). "True" null values are dropped from the datasets. Apart from that, no major modifications are done.

In [19]:
data_dir = 'data/new-hard'

In [20]:
dataset_name = 'bikes'
this_dir = osp.join(data_dir, dataset_name)
df = pd.read_csv(osp.join(this_dir, f'bikes.csv'), sep=',')
df.describe(include='all')
print('Location of nulls')
print(df.isna().sum())
df_nonulls = df.dropna()
print(f'Shape of full dataset: {df.shape}')
print(f'Shape of cleaned dataset: {df_nonulls.shape}')
df.to_csv(osp.join(this_dir, f'{dataset_name}_clean.csv'), index=False)
df_nonulls.convert_dtypes().to_csv(osp.join(this_dir, f'{dataset_name}_nonulls.csv'), index=False)

Location of nulls
id             0
bike_name      0
city_posted    0
km_driven      0
color          2
fuel_type      0
price          0
model_year     0
owner_type     0
dtype: int64
Shape of full dataset: (13789, 9)
Shape of cleaned dataset: (13787, 9)

In [21]:
dataset_name = 'bikes-dekho'
this_dir = osp.join(data_dir, dataset_name)
df = pd.read_csv(osp.join(this_dir, f'bikes-dekho.csv'), sep=',')
df.describe(include='all')
print('Location of nulls')
print(df.isna().sum())
df_nonulls = df.dropna()
print(f'Shape of full dataset: {df.shape}')
print(f'Shape of cleaned dataset: {df_nonulls.shape}')
df.to_csv(osp.join(this_dir, f'{dataset_name}_clean.csv'), index=False)
df_nonulls.convert_dtypes().to_csv(osp.join(this_dir, f'{dataset_name}_nonulls.csv'), index=False)

Location of nulls
id             0
bike_name      0
city_posted    0
km_driven      0
color          0
fuel_type      0
price          0
model_year     0
owner_type     0
dtype: int64
Shape of full dataset: (4786, 9)
Shape of cleaned dataset: (4786, 9)

In [22]:
dataset_name = 'bikes-wale'
this_dir = osp.join(data_dir, dataset_name)
df = pd.read_csv(osp.join(this_dir, f'bikes-wale.csv'), sep=',')
df.describe(include='all')
print('Location of nulls')
print(df.isna().sum())
df_nonulls = df.dropna()
print(f'Shape of full dataset: {df.shape}')
print(f'Shape of cleaned dataset: {df_nonulls.shape}')
df.to_csv(osp.join(this_dir, f'{dataset_name}_clean.csv'), index=False)
df_nonulls.convert_dtypes().to_csv(osp.join(this_dir, f'{dataset_name}_nonulls.csv'), index=False)

Location of nulls
id             0
bike_name      0
city_posted    0
km_driven      0
color          2
fuel_type      0
price          0
model_year     0
owner_type     0
dtype: int64
Shape of full dataset: (9003, 9)
Shape of cleaned dataset: (9001, 9)

In [23]:
dataset_name = 'beer'
this_dir = osp.join(data_dir, dataset_name)
df = pd.read_csv(osp.join(this_dir, f'beer.csv'), sep=',')
df.describe(include='all')
print('Location of nulls')
print(df.isna().sum())
df_nonulls = df.dropna()
print(f'Shape of full dataset: {df.shape}')
print(f'Shape of cleaned dataset: {df_nonulls.shape}')
df.to_csv(osp.join(this_dir, f'{dataset_name}_clean.csv'), index=False)
df_nonulls.convert_dtypes().to_csv(osp.join(this_dir, f'{dataset_name}_nonulls.csv'), index=False)

Location of nulls
beer_name              0
brew_factory_name      2
style                  2
abv                  898
dtype: int64
Shape of full dataset: (7345, 4)
Shape of cleaned dataset: (6443, 4)